* {
    box-sizing: border-box;
    outline: none;
    color: #fff
}

body {
    background: linear-gradient(to right, #1e2124, #282b30 , #7289da);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    width: 100vw;
}

.box-cadastro {
    width: 100%;
    max-width: 500px;        
    padding: 40px;           
    font-family: "Montserrat", sans-serif;
    background: #282b30;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15); 
}


.box-cadastro h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.box-cadastro h3 {
    font-size: 16px;
    font-weight: 400;
    color: #7289da;
    margin-bottom: 30px; 
}


form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 20px; 
}

form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccd1d1; 
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease; 
}


form input:hover, form input:focus {
    background: #979a9b15;
    border-color: #7289da; 
}


form input::placeholder {
    color: #888888;
    opacity: 1; 
}

.box-cadastro .btn-custom{
    background-color: #7289da;
    border-color: #7289da;
    color: #fff;
}

.box-cadastro .btn-custom:hover{
    background-color: #3d5bc9;
}

.form-custom{
    background-color: #1e2124;
}